html {
    overflow-x: hidden;
    --companyblue: #1E407C;
    --background: #000C1E;
}

body {
    color: white;
    background: var(--background);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
    opacity: 1;
    transition-duration: 0.7s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

h1, h2, h3, h4 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

a {
    color: white;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: none;
}

p {
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li, ol li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}

button:focus {
    outline: none !important;
}

.icon-close, .icon-check {
    color: #00b4d9;
}

.social-icon li {
    display: inline-block;
}

.social-icon li a {
    color: black;
    background: white;
    width: 35px;
    height: 35px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 100%;
    font-size: 1rem;
    margin: 15px 6px 12px 6px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon li a:hover {
    color: white;
    box-shadow: 0 0 20px 12px rgb(255, 255, 255, 0.8);
}

.social-icon li .linkedin:hover {
    background: #1260A2;
}

.social-icon li .google:hover {
    background: #CE332A;
}

.member-organizations p {
    color: white;
    margin-bottom: 20px;
}

.member-organizations ul {
    padding-bottom: 20px;
}

.member-organizations li {
    display: block;
}

.member-organizations img {
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    width: 400px;
    max-width: 33%;
}

/* Small screens (mobile) */
@media (width <= 768px) {
    .member-organizations img {
        margin-bottom: 20px;
        width: 600px;
        max-width: 75%;
    }
}

.section-padding {
    padding: 24px 0;
}

#about .img-thumb img {
    border: 8px solid white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.navbar {
    padding: 90;
    background: var(--background);
    align-items: center;
    color: white;
}

.navbar div li ul {
    background: transparent;
}

.navbar img {
    margin-left: 12px;
    margin-right: 12px;
}

.navbar a {
    background: transparent;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar a:hover {
    color: black;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 6px rgb(255, 255, 255, 0.9);
    border-radius: 10px 10px;
}

.dropdown-btn {
    background: transparent;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0px 4px;
    border-radius: 0px;
    border: 0px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #f1f1f1; }
.dropdown:hover .dropdown-content { display: block; }

.dropdown-toggle::after {
    display: none;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background: transparent;
}

.dropdown-content a:hover {
    color: black;
}

.navbar-toggler {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-header {
        width: 100%;
    }
    .navbar-brand {
        position: absolute;
        padding: 0px 15px;
        top: 0;
    }
    .navbar-brand img {
        width: 75%;
    }
}

.hero-area-bg {
    background: url(../img/hero-area.webp) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

/* Small screens (mobile) */
@media (width <= 1000px) {
.hero-area-bg {
    height: 850px;
}
}

#hero-area {
    color: white;
    overflow: hidden;
    position: relative;
}

#hero-area h1 {
    font-family: "Krungthep";
}

#hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.75;
}

#hero-area .contents {
    padding: 128px 0px 300px;
}

#hero-area .contents img {
    max-width: 75%;
}

#hero-area .contents h5 {
    font-size: 2rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.calendar-area-bg {
    background: url(../img/hero-area.webp) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1500px;
}

.multi-color-text {
    background-image: linear-gradient(to right, lightblue, var(--companyblue));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.chamber-area-bg {
    background: 
        radial-gradient(circle,rgba(30, 64, 124, 0.5) 0%, rgba(0, 12, 30, 0.5) 100%),
        url(../img/chamber.webp) no-repeat transparent;
    background-color: var(--background);
    background-size: 45%;
    background-position: center 10%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chamber-text-overlay {
    font-size: 4rem;
    font-weight: 500;
    text-shadow: none;
    color: white;
}

.chamber-text-overlay-small {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: none;
    text-align: center;
    color: white;
}

/* Small screens (mobile) */
@media (width <= 1024px) {
.chamber-area-bg {
    height: 650px;
}
}

.tech-area-bg {
    background: radial-gradient(circle, rgba(30, 64, 124, 1.0) 0%, rgba(0, 12, 30, 1.0) 100%);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-area-img-parent {
    position: relative;
    margin: 10px;
    padding-right: 20px;
    top: 0;
    left: 0;
}

.chamber_background_img {
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    border: 0;
}
.chamber_img {
    position: absolute;
    top: 35px;
    left: 35px;
    border: 0;
}

/* Small screens (mobile) */
@media (width <= 512px) {
    form {
        padding: 1em;
        background: #f9f9f9;
        border: 1px solid #c1c1c1;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    form input {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 0.5rem;
        background: white;
        color: black;
        border: 1px solid #9c9c9c;
    }
}

/* Larger screens (larger mobile and desktop) */
@media (width > 512px) {
    form {
        padding: 1em;
        background: #f9f9f9;
        border: 1px solid #c1c1c1;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
    form input {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1.5rem;
        background: white;
        color: black;
        border: 1px solid #9c9c9c;
    }
}

form br {
    height: 0;
    width: 0;
}

form textarea {
    width: 100%;
    margin-bottom: 1rem;
    background: white;
    padding: 0.5em;
    border: 1px solid #9c9c9c;
}

form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
}

form label {
    color: black;
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
}

input:focus {
    outline: 3px solid silver;
}

/* Small screens (mobile) */
@media (width <= 512px) {
    #hero-area .contents .head-title {
        color: var(--companyblue);
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 7px;
    }
}

/* Larger screens (larger mobile) */
@media (width > 512px) and (width <= 768px) {
    #hero-area .contents .head-title {
        color: var(--companyblue);
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 7px;
    }
}

/* Larger screens (large mobile and small desktop) */
@media (width > 768px) and (width <= 1024px) {
    #hero-area .contents .head-title {
        color: var(--companyblue);
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 7px;
    }
}

/* Larger screens (very large mobile and desktop) */
@media (width > 1024px) {
    #hero-area .contents .head-title {
        color: var(--companyblue);
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 7px;
    }
}

#tech-area div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#tech-area .contents p {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    line-height: 30px;
    margin-bottom: 25px;
}

#tech-area .contents ul {
    font-size: 1.25rem;
    display: block;
    text-transform: uppercase;
    line-height: 72px;
}

#tech-area .contents li {
    list-style: georgian inside url('../img/hexagon.svg');
    list-style-position: inside;
    display: block;
}

#tech-area .tech-list ul {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    margin: 0px;
    padding: 10px;
    color: white;
    line-height: 30px;
}

#tech-area .tech-list li {
    display: list-item;
    list-style: square inside;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

.divider-area {
    background: var(--background);
    text-align: center;
}

#news-container {
    background: url(../img/news.webp) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 36px;
    color: white;
    opacity: 0.95;
    text-align: center;
    vertical-align: middle;
    display: grid;
    place-items: center;
}

@media (width <= 768px) {
#news-container {
    height: 512px;
}
}

.news-item img {
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 1.0s ease-in-out;
}

.news-item {
    background: transparent;
    position: absolute;
    padding: 32px;
}

.news-item a {
    font-size: 1.5rem;
    opacity: 80%;
}

#applications-container {
    background: radial-gradient(circle,rgba(30, 64, 124, 0.5) 0%, rgba(0, 12, 30, 0.5) 100%);
    background-color: var(--background);
    background-size: 45%;
    background-position: center 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#applications-container > * {
    border: 1px;
    border-radius: 5px;
    flex: 1 1 512px;
}

.applications-item {
    padding: 32px;
    text-align: center;
}

.applications-item p {
    font-size: 1.5rem;
    opacity: 80%;
}

.applications-item img {
    padding: 32px;
    transition: opacity 1.0s ease-in-out;
    object-fit: contain;
    max-width: 90%;
}

#dots-container {
    text-align: center;
    margin-top: 10px;
    z-index: 3; /* ensures it’s in front of the image */
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #333;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #bbb;
}

.footer-area {
    background: var(--background);
}

.footer-area .footer-text p {
    font-size: 14px;
    margin-top: 20px;
    color: white;
}

.footer-area .footer-text p a {
    color: var(--background);
}

.footer-area .footer-text .nav-inline .nav-link {
    padding: 11px 7px;
    color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
    color: var(--background);
}

.row div {
    justify-content: center;
}

.copyright {
    background: var(--background);
}

.copyright p {
    font-size: 0.75em;
    box-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}

.article h1 {
    font-size: 3em;
    font-weight: 700;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.article h2, h3, h4 {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    padding: 10px;
}

.article p {
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
}

.article img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#figure .article {
    text-align: center;
}

@media (width > 1024px) {
    .article {
        background: url(../img/hex-fade.webp);
        background-size: cover;
        background-repeat: repeat-y;
        background-position: 100% 0%;
        background-color: #F0F0F0;
        color: #001e44;
    }
}

.article a {
    color: black;
}

.circle_text {
    padding: 64px 0px 0px 0px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

@media (width <= 768px) {
    .circle {
        margin: auto;
        width: 256px;
        height: 256px;
        line-height: 256px;
        border-radius: 50%;
        background: lightgray;
    }
}

@media (width > 768px) {
    .circle {
        margin: auto;
        width: 512px;
        height: 512px;
        line-height: 512px;
        border-radius: 50%;
        background: lightgray;
    }
}

.schedule_header {
    margin-bottom: 64px;
    font-family: "Inter";
}

.dialog form {
    margin: 0;
    padding: 32px;
    max-width: 100%;
}

.dialog div {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dialog input {
    width: 100%;
    height: 32px;
    font-size: 24px;
}

.dialog button {
    margin-left: 16px;
}

.container {
    font-size: 2rem;
}

.floated {
    float: left;
}

.fc-header-toolbar h2 {
    display: inline;
}

.plugnplay img {
    transform: scale(1.1);
}
